.page-header {
  position: relative;
  border-bottom: solid 1px $accent-grey;

  .nav-address {
    @extend %flex-item-centered;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      height: 80px;
    }
  }
}

.menu-button {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;

  .icon-close-menu {
    display: none;
  }

  &.is-open .icon-close-menu {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container {
  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    font-size: 18px;
    background-color: white;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    //flex-grow: 1;
    //justify-content: space-between;
  }
}

.site-nav {
  font-weight: 500;

  .item:not(:last-child) {
    margin-bottom: 40px;
    //padding-top: 32px;
    //padding-bottom: 8px;
  }

  //.current {
  //  position: relative;
  //   color: $accent-color;
  // }

  .item .current::after {
    position: absolute;

    height: 4px;
    width: 100%;

    left: 0;
    bottom: 0;
    display: block;
    content: "";
    background-color: $accent-color;
    border-radius: 2px;

    opacity: 1;
  }

  .item .nav-link {
    //position: relative;
    display: inline-flex;

    color: $title-text-color;
    transition: color $transition-values;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.address {
  margin-top: 60px;

  .item + .item {
    margin-top: 16px;
  }
}
